body {font-family: 'Times New Roman', Times, serif;}
Grouped selectors h1, h2, h3 {color: darkgreen;}

.evenrow {background-color: #a59b9b;}

selector h1 {font-size: x 2em;}
selector h2 {font-size: x 1.5em;}

